
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    box-sizing: border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
      background-color:  hsl(218, 23%, 16%);
}
.card{
    background-color:hsl(217, 19%, 24%);
    max-width: 500px;
    padding: 30px;   
    margin:10px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    font-family: 'Manrope', sans-serif;
    font-weight:800;
}
.advice_card{
    display:flex;
    justify-content: center;
    align-items: center;
    color:hsl(150, 100%, 66%);
    letter-spacing: 2px;
}
#quotations{
    text-align:center;
    color:white;
    font-size: 25px;
    max-height:125px;
    margin:30px;
}
.divider{
    margin:15px 0px 10px 0px;
}
#diceButton{
    display: grid;
    justify-content: center;
    align-items: center;
    margin : 40px 186px -60px 185px;
    border-radius: 50%;   
    padding: 20px;
    background: hsl(150, 100%, 66%);
}
